.error {
	color: red !important;
}

.swal2-popup {
	font-size: 1.6rem !important;
}

.w50px{
	width: 50px;
}

#preview{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
}
#preview img{
	width:200px;
	height:200px;
}
#preview .img_div{
position: relative;
margin: 5px;
border: solid 1px #222d322e;
box-sizing: border-box;
border-radius: 5px;
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#preview .img_div button{
	position:absolute;
	top:0;
}
